body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  padding-inline: 16px;
  margin-inline: auto;
}

.header-nav {
  display: none;
}

/*header*/
.header-container span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
}

/*hero*/

.hero-title {
  font-size: 32px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
